{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ $header_image := partial "func/GetHeaderImage.html" . }}

{{ if $header_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="cover bg-top" style="background-image: url('{{ $header_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
      <div>
      {{ partial "site-navigation.html" . }}
        <div class="tc-l pv6 ph3 ph4-ns">
        {{ if not .Params.omit_header_text }}
          <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | default .Site.Title }}</div>
          {{ with .Params.description  }}
            <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>

{{ else }}
<header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
    {{ partial "site-navigation.html" . }}
    </div>
</header>
{{ end }}
