<ul class="pa0">
    {{ range .GetTerms "tags" }}
     <li class="list di">
       <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif IBM-Plex-Mono">
         {{- .LinkTitle -}}
       </a>
     </li>
    {{ end }}
  </ul>
