#custom-css-demo{
    border: 1px solid green;
    color: red;
}

/* body {
    font-family: 'IBM Plex Sans';
} */

h1, h2, h3 {
    color: #0000e0;
    font-family: 'IBM Plex Mono' !important;
}

.list {
    font-family: 'IBM Plex Mono';
}

.IBM-Plex-Mono {
    font-family: 'IBM Plex Mono';
}

.IBM-Plex-Sans {
    font-family: 'IBM Plex Sans';
}